#preloader {
    background: white;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100000000;

}

#preloader img{
    display: block;
    margin: auto;
}

@media only screen and (max-width: 980px){
    #preloader{
        margin: auto;
        width:100%;
    }
    #preloader img{
        margin: auto;
        width:100%;
    }
}